{% extends 'base.html' %}

{% block title %}Teams - League of Legends Tournaments{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista Teams</h2>
        <p class="lead">Elenco di tutti i team in ordine alfabetico</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td>{{ team.nome }}</td>
                        <td>{{ team.logo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}